<div class="container">
  <h1 >User Page</h1>

  <ul class="list-group">
   
      <li class="list-group-item"><%= @users.email %></li>

  </ul>

  <div class="mt-3">
    <table><tbody><tr>
    <%= link_to "Back", groups_path,class:"button" %>
    </table></tbody></tr>
  </div>
</div>
