<%= stylesheet_link_tag("about") %>
<div class="about-section">
  <h1>About Us Page</h1>
  <p>MyInsta is a social media platform</p>
  <p>Our mission is to bring you closer to the people and things you love. With MyInsta, you can stay connected with friends and family, discover new interests and passions, and showcase your creativity through photos.

  We believe that everyone has a story to tell, and that every story is worth sharing. That's why we're dedicated to creating a platform that allows people to express themselves and connect with others in meaningful ways.
  
  Whether you're a business looking to reach new customers, an artist looking to showcase your work, or simply someone who loves to share photos and videos with friends, MyInsta is the place for you. We're proud to be a part of your online community and look forward to seeing all the amazing things you create and share on our platform.
  </p>
</div>
</div>

<br>
<%= link_to "Back",posts_path,class:"button" %>

