.hover-effect:hover {
    color: #fff !important;
}
.button {
  width: fit-content;
  display: inline-block;
  background-color: #5bc0de;
  color: #ffffff !important;
  
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  

}

.button:hover {
  background-color: #3e8e41;
}
.header-element{
  font-size: 18px;
  text-decoration: none;
}
.a, a:link, a:visited {
  color: #38678b;
  text-decoration: none;
  
}
.form input[type=submit], form input[type=button], form button {
  border-radius: 200px;
  display: inline-block;
 
  font-size: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #838a90, #414549);
  text-shadow: #000 0 1px 0;
  
  border: solid 1px #484e53;
  border-color: #484e53;
  border-top-color: #616a71;
  border-right-color: #484e53;
  border-bottom-color: #363b3f;
  border-left-color: #484e53;
  color: #efefef;
  cursor: pointer;
}

#carouselExampleControls {
  width: 30%;
  margin: 0 auto;
}
.button1{
  width: 200px;
  display: inline-block;
  background-color: #5bc0de;
  color: #ffffff !important;
  
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

.button2{
  width: 250px;
  display: inline-block;
  background-color: #5bc0de;
  color: #ffffff !important;
  
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}