<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style ="margin-top:auto;
margin-left: 0%;background-color:red;height:70px;">
  <div class="footer-copyright text-center py-2">© 2023 Copyright:
    <a href="/"> MyInsta.com</a>
  </div>
 

</footer>
